@page "/"
@using Syncfusion.Blazor.Popups

@using Syncfusion.Blazor.SmartPdfViewer
<div>
    <SfSmartPdfViewer id="pdf-viewer" Height="100%" Width="100%" DocumentPath="wwwroot/Fsharp_Succinctly.pdf">
    </SfSmartPdfViewer>
</div>

