@page "/"

@using Syncfusion.Blazor.SmartPdfViewer
<div>
    <Syncfusion.Blazor.SmartPdfViewer.SfSmartPdfViewer id="pdf-viewer" Height="100%" Width="100%" DocumentPath="wwwroot/Fsharp_Succinctly.pdf">
    </Syncfusion.Blazor.SmartPdfViewer.SfSmartPdfViewer>
</div>


