@page "/"


<div>
    <Syncfusion.Blazor.SmartPdfViewer.SfSmartPdfViewer  id="pdf-viewer" Height="650px" Width="100%" DocumentPath="wwwroot\Confidential_Medical_Record.pdf">
   </Syncfusion.Blazor.SmartPdfViewer.SfSmartPdfViewer> 
</div>
